aiofiles==0.6.0
ajsonrpc==1.1.0
alabaster==0.7.12
appdirs==1.4.3
attrs==19.3.0
Automat==0.8.0
Babel==2.9.1
bcj-cffi==0.5.1
blinker==1.4
bottle==0.12.19
Brotli==1.0.9
certifi==2019.11.28
cffi==1.14.6
chardet==3.0.4
click==8.0.1
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==2.8
dbus-python==1.2.16
distlib==0.3.0
distro==1.4.0
distro-info===0.23ubuntu1
docutils==0.17.1
entrypoints==0.3
filelock==3.0.12
h11==0.12.0
httplib2==0.14.0
hyperlink==19.0.0
idna==2.8
ifaddr==0.1.7
imagesize==1.3.0
importlib-metadata==4.10.1
incremental==16.10.1
Jinja2==3.0.3
keyring==18.0.1
keyrings.alt==3.4.0
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
markdown-it-py==2.0.0
MarkupSafe==2.0.1
marshmallow==3.11.1
mdit-py-plugins==0.3.0
mdurl==0.1.0
more-itertools==4.2.0
multivolumefile==0.2.3
myst-parser==0.16.1
netifaces==0.10.4
oauthlib==3.1.0
packaging==21.3
Pillow==8.3.2
platformio==5.1.1
py7zr==0.16.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.10.1
pycurl==7.43.0.2
pyelftools==0.27
Pygments==2.11.2
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pyOpenSSL==19.0.0
pyparsing==3.0.6
pyppmd==0.16.1
pyserial==3.4
python-apt==2.0.0+ubuntu0.20.4.6
python-debian===0.1.36ubuntu1
pytz==2021.3
PyYAML==5.3.1
pyzstd==0.14.4
requests==2.22.0
requests-unixsocket==0.2.0
rstcheck==3.3.1
SecretStorage==2.3.1
semantic-version==2.8.5
service-identity==18.1.0
simplejson==3.16.0
six==1.16.0
snowballstemmer==2.2.0
spark-parser==1.8.9
Sphinx==4.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
ssh-import-id==5.10
starlette==0.14.2
systemd-python==234
tabulate==0.8.9
texttable==1.6.4
Twisted==18.9.0
ubuntu-advantage-tools==27.5
ufw==0.36
unattended-upgrades==0.1
uncompyle2==2.0.0
uncompyle6==3.7.4
urllib3==1.25.8
uvicorn==0.13.4
virtualenv==20.0.17
wadllib==1.3.3
wsproto==1.0.0
xdis==5.0.13
zeroconf==0.28.8
zipp==1.0.0
zope.interface==4.7.1
